@import '../../assets/styles/variable';

.container {
  position: relative;
  .title {
    font-weight: $font-weight-bold;
    margin-bottom: 0.5rem;
  }
  .error {
    display: inline-block;
    margin-left: 1rem;
    color: $red;
    z-index: 100;
  }
}
